<a href="https://colab.research.google.com/github/sunny247233/hello/blob/main/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = ['a','b','c','d']
b = [1,2,3,4]

In [ ]:
d = dict(zip(a,b))

In [ ]:
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
k = ['tomato','cucomber','zucchini','cauliflower','potato','cabbage','carrot','zucchini','zucchini','cucomber','cauliflower','cauliflower']

In [ ]:
d1 = {}.fromkeys(k,0)

In [ ]:
print(d1)

{'tomato': 0, 'cucomber': 0, 'zucchini': 0, 'cauliflower': 0, 'potato': 0, 'cabbage': 0, 'carrot': 0}

In [ ]:
for i in d1:
  d1[i] = k.count(i)

In [ ]:
d1

{'tomato': 1,
 'cucomber': 2,
 'zucchini': 3,
 'cauliflower': 3,
 'potato': 1,
 'cabbage': 1,
 'carrot': 1}

In [ ]:
ec = [['tomato',1.25,20],
    ['cucomber',2.3,40],
    ['zucchini',1.2,25],
    ['potato',0.8,60],
    ['carrot',1.1,50],
    ['cabbage',1.5,30]
]

In [ ]:
d = {}

In [ ]:
for i in ec:
  d[i[0]] = i[2]

In [ ]:
print(d['potato'])

60

字典生成式

In [ ]:
name = ['mike','mika','anna','nike','lily','jack','anna','alice','rose','lily','mike','anna','mike','lily','lily','mike','anna','anna','jack','anna','anna']

In [ ]:
dict = {i:name.count(i) for i in name if name.count(i) > 3}

In [ ]:
dict

{'mike': 4, 'anna': 7, 'lily': 4}